#information {
    color: $bg-container;
    text-decoration: none;
    border-radius: $container-border-radius;
    background-color: $bg-color;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    width: 93%;

    .info-card {
        display: flex;
        position: relative;        
        justify-content: start;
        gap: 1rem;
        padding-bottom: 0.8rem;
        margin-bottom: 0.8rem;
        border-bottom: 1px solid $text-black;
        width: 100%;
    }

    h3 {
        color: $text-black;
        font-size: .8rem;
        margin-bottom: .1rem;
    }

    p {
        color: $text-black;
        font-weight: 300;
        font-size: .9rem;
    }

    svg,path {
        background-color: $white;
        padding: .4rem;
        width: 2rem;
        height: 2rem;
        border-radius: $card-border-radius;
    }

    #email-icon, #pin-icon {
        color: $text-black;
    }

}

@media (max-width: 600px) {
    #information {
        padding: 0.8rem;
        width: 95%;

    }
    
}
