
#sidebar {
    background-color: $bg-container;
    flex: 1 1 0;
    border-radius:  $container-border-radius;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 2rem 2rem;

    h1 {
        padding-top: 2rem;
        color: $white;
    }

}

img {
    max-width: 70%;
    border-radius: $container-img;
    position: absolute;
    top: -5rem;
    width: 140px;
}

.title {
    color: $white;
    background-color: $bg-color;
    border-radius: $card-border-radius;
    margin-top: 1rem;
    padding: .8rem 1.2rem;
    font-size: 0.9rem ;
    
}


