#social-networks {
    gap: 1rem;
    margin: 1rem 0;




    .social-btn {
        font-size: 1.3rem;
        background-color: $bg-color;
        border-radius: $card-border-radius; 
        color: $bg-container;        
        margin-top: 2rem;
        margin-left: 0.1rem;
        padding: 0.3rem 0.6rem;
        font-size: 1.3rem;
        text-align: center;
        }

        #linkedin, #youtube, #github, #behance {
            color: $text-black;
        }

        :hover {
            background:  $bg-container;
        }
}


