* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: $bg-color;
}

img {
    max-width: 100%;
    display: block;
}

a, svg {
    transition: .4s;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 3rem;
    margin-top: 4rem;

}


@media (max-width: 600px) {
    
    .portfolio {
        padding: 2.8rem;


    }
}
