    $white: #fff;
    $black: #000;
    $color-secondy: #f7931a;
    $bg-color: #181818;
    $container-border-radius: 10px;
    $card-border-radius: 5px;
    $gradient: linear-gradient(90deg, rgb(249, 163, 25) 0%, rgb(249, 160, 25) 100%);