    $white: #fff;
    $black: #000;
    $text-black: #6a6a6a;
    $color-secondy: #f7931a;
    $bg-color: #181818;
    $bg-container: #353535;
    $container-border-radius: 10px;
    $card-border-radius: 5px;
    $container-img: 50%;
    $gradient: linear-gradient(90deg, rgba(247,147,26,1) 0%, rgb(236, 74, 5) 100%);
